<div class="row">
	<div class="col-md-6">
		<div class="asset-form">
			<h3>Edit Asset</h3>
			<form (ngSubmit)="updateAsset(asset.id,assetForm)" #assetForm="ngForm">
				<input type="hidden" name="createDate" [(ngModel)]="asset.createDate">
				<div class="form-group">
					<label for="">Risk Level</label>
					<input type="number" class="form-control" placeholder="Risk Level" name="riskLevel" [(ngModel)]="asset.riskLevel">
				</div>
				<div class="form-group">
					<label for="">Complience Status</label>
					<input type="text" class="form-control" placeholder="Complience Status" name="complienceStatus" [(ngModel)]="asset.complienceStatus">
					<p class="help-block">options: COMPLIANT</p>
				</div>
				<div class="form-group">
					<label for="">Installed Date</label>
					<input type="text" class="form-control" placeholder="Installed Date" name="installedDate" [(ngModel)]="asset.installedDate"
						(input)="recalculateReplacementDate()">
					<p class="help-block">Format : DD/MM/YYYY</p>
				</div>
				<div class="form-group">
					<label for="">Description *</label>
					<textarea class="form-control" placeholder="Description " name="description" [(ngModel)]="asset.description"></textarea>
				</div>
				<div class="form-group">
					<label for="">Life Span / Warranty (in weeks)</label>
					<input type="number" class="form-control" placeholder="Life Span / Warranty" name="lifeSpan" [(ngModel)]="asset.lifeSpan"
						(input)="recalculateReplacementDate()">
				</div>
				<div class="form-group">
					<input type="checkbox" name="autoCalculation" (change)="toggleAutoCalculate()" [checked]="autoCalculate">
				</div>
				<div class="form-group">
					<label for="">Scheduled Replacement Date</label>
					<input type="text" class="form-control" placeholder="Scheduled Replacement Date" name="scheduledReplacementDate" 
						[(ngModel)]="asset.scheduledReplacementDate" [disabled]="autoCalculate">
					<p class="help-block">Format : DD/MM/YYYY</p>
				</div>
				<div class="form-group">
					<label for="">Re-Certification Interval</label>
					<input type="number" class="form-control" placeholder="Re-Certification Interval" name="recertificationInterval" [(ngModel)]="asset.recertificationInterval">
				</div>
				<div class="form-group">
					<label for="">Last Re-Certification Date</label>
					<input type="text" class="form-control" placeholder="Last Re-Certification Date" name="lastRecertificationDate" [(ngModel)]="asset.lastRecertificationDate">
					<p class="help-block">Format : DD/MM/YYYY</p>
				</div>
				<div class="form-group">
					<label for="">Last Re-Certification Result</label>
					<input type="text" class="form-control" placeholder="Last Re-Certification Result" name="lastRecertificationResult" [(ngModel)]="asset.lastRecertificationResult">
				</div>
				<div class="form-group">
					<label for="">Next Re-Certification Date</label>
					<input type="text" class="form-control" placeholder="Next Re-Certification Date" name="nextRecertificationDate" [(ngModel)]="asset.nextRecertificationDate">
					<p class="help-block">Format : DD/MM/YYYY</p>
				</div>
				<div class="form-group">
					<label for="">Model *</label>
					<input type="text" class="form-control" placeholder="Model" name="model" [(ngModel)]="asset.model" required="required">
					<p class="help-block">Min. 3 characters</p>
				</div>
				<div class="form-group">
					<label for="">Serial *</label>
					<input type="text" class="form-control" placeholder="Serial" name="serial" [(ngModel)]="asset.serial" required="required">
					<p class="help-block">Min. 3 characters</p>
				</div>
				<div class="form-group">
					<label for="">Batch No *</label>
					<input type="text" class="form-control" placeholder="Batch No" name="batchNo" [(ngModel)]="asset.batchNo" required="required">
					<p class="help-block">Min. 3 characters</p>
				</div>
				<div class="form-group">
					<label for="">Related Delivery Order</label>
					<input type="number" class="form-control" placeholder="Related Delivery Order" name="relatedDeliveryOrder" [(ngModel)]="asset.relatedDeliveryOrder">
				</div>
				<div class="form-group">
					<label for="">Geolocation</label>
					<input type="text" class="form-control" placeholder="Geolocation" name="geolocation" [(ngModel)]="asset.geolocation">
					<p class="help-block">Example: -7.800386,110.3937263 </p>
				</div>
				<div class="form-group">
					<label for="">Production Date *</label>
					<input type="text" class="form-control" placeholder="Production Date" name="productionDate" [(ngModel)]="asset.productionDate">
					<p class="help-block">Format : DD/MM/YYYY</p>
				</div>
				<div class="form-group">
					<label for="">Status</label>
					<input type="text" class="form-control" placeholder="Status " name="status" [(ngModel)]="asset.status">
					<p class="help-block">Options: OK, OVERDUE INSPECTITON, DO NOT USE</p>
				</div>
				<div class="form-group">
					<label for="">History </label>
					<textarea class="form-control" placeholder="History " name="history" [(ngModel)]="asset.history"></textarea>
				</div>
				<button type="submit" class="btn btn-primary btn-block">Update</button>
			</form>
		</div>
	</div>
	<div class="col-md-6">&nbsp;</div>
</div>
