<div class="row">
	<div class="col-md-6">
		<div class="asset-form">
			<h3>Category</h3>
			<alert></alert>
			<form (ngSubmit)="onSubmit(categoryForm)" #categoryForm="ngForm">
				<input type="hidden" name="id" [(ngModel)]="category.id">
				<div class="form-group">
					<label for="">Name*</label>
					<input type="text" class="form-control" placeholder="Name" name="name" [(ngModel)]="category.name">
				</div>
				<div class="form-group">
					<label for="">Description*</label>
					<input type="text" class="form-control" placeholder="Description" name="description" [(ngModel)]="category.description">
				</div>
				<div class="form-group">
					<label for="">Parent Category</label>
					 <select class="form-control" [(ngModel)]="category.parent_id" name="parent_id">
                        <option *ngFor="let cat of categories" [ngValue]="cat.id">{{cat.name}}</option>
                    </select>
				</div>
				<div class="form-group">
					<label for="">Checklist</label>
					 <select class="form-control" [(ngModel)]="category.checklist" name="checklist">
                        <option *ngFor="let check of checklists" [ngValue]="check.id">{{check.name}}</option>
                    </select>
				</div>
				<button type="submit" class="btn btn-primary btn-block">Save</button>
			</form>
		</div>
	</div>
	<div class="col-md-6">&nbsp;</div>
</div>
