<h4>List of Assets</h4>
<p>
	<a routerLink="/assets/create" class="btn btn-default btn-xs pull-right">New Asset</a>
</p>
<p>&nbsp;</p>
<p>
  <ng2-smart-table
	  [settings]="settings"
	  [source]="source"
	  (createConfirm)="onCreateCall($event)"
	  (editConfirm)="onEditCall($event)"
	  (deleteConfirm)="onDeleteCall($event)"
	  (custom)="onCustom($event)"
	  ></ng2-smart-table>
</p>

<!-- <table class="table table-bordered">
	<thead>
		<tr>
			<th><input type="checkbox" [(ngModel)]="selectAll" (change)="checkAll()"/></th>
			<th>Description</th>
			<th>Model</th>
			<th>Serial</th>
			<th>Installed Date</th>
			<th>Production Date</th>
			<th>Create Date</th>
			<th>Status</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let asset of assets">
			<td>
				<input type="checkbox" [checked]="exist(asset)" (click)="toggleSelection(asset)">
			</td>
			<td>{{ asset.description }}</td>
			<td>{{ asset.model }}</td>
			<td>{{ asset.serial }}</td>
			<td>{{ dateFormat(asset.installedDate) }}</td>
			<td>{{ dateFormat(asset.productionDate) }}</td>
			<td>{{ dateFormat(asset.createDate, "datetime") }}</td>
			<td>{{ asset.status }}</td>
			<td>
				<a routerLink="/assets/{{ asset.id }}" class="label label-info">view</a>
				<a routerLink="/assets/edit/{{ asset.id }}" class="label label-warning">edit</a>
				<a (click)="deleteAsset(asset)" class="label label-danger">delete</a>
			</td>
		</tr>
		<tr>
			<td colspan="6">
				<button class="btn btn-default" (click)="deleteMultiple()">Delete</button>
			</td>
			<td colspan="3">
				<table>
					<tr>
						<td><button class="btn btn-default" [disabled]="isFirstPage" (click)="goToFirstPage()">|&lt;</button></td>
						<td><button class="btn btn-default" [disabled]="isFirstPage" (click)="goToPrevPage()">&lt;&lt;</button></td>
						<td>
							<input type="text" class="form-control" [(ngModel)]="inputPage" (keyup.enter)="goToSelectedPage()">
						</td>
						<td><button class="btn btn-default" [disabled]="isLastPage" (click)="goToNextPage()">&gt;&gt;</button></td>
						<td><button class="btn btn-default" [disabled]="isLastPage" (click)="goToLastPage()">&gt;|</button></td>
					</tr>
				</table>
			</td>
		</tr>
	</tbody>
</table> -->