<div class="row">
	<div class="col-md-12">
		<nav class="navbar navbar-default">
		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li class="active"><a routerLink="/">Home <span class="sr-only">(current)</span></a></li>
		        <li><a routerLink="/assets">Asset</a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		</nav>
	</div>
</div>