<h3 class="page-header">
	Detail Category
</h3>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>Attribute</th>
			<th>Value</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Name</td><td>{{ category.name }}</td>
		</tr>
		<tr>
			<td>Description</td><td>{{ category.description }}</td>
		</tr>
		<tr>
			<td>Parent Category</td><td>{{ parentName }}</td>
		</tr>
		<tr>
			<td>Checklist</td><td>{{ category.checklist }}</td>
		</tr>
	</tbody>
</table>
<p>
	<a class="btn btn-default" routerLink="/categories" id="category-back-btn">Back</a>
</p>